










      <!-- <p>B4 button Check Result = {{checkResult}}</p> -->

      <div class="form-group d-grid gap-2">
            <button 
            class="btn btn-outline-success common-height" 
            type="submit" 
            (click)="checkMobile()"
            [disabled]="otpButton">One Time Password</button>
      </div>



      <!-- <p>Gen password in OTP is {{password}}</p> -->
      <!-- <p>Check Result in OTP = {{checkResult}}</p> -->
      <!-- <p>The Mobile Number (feed from Home HTML) {{otpMobile}}</p>  -->
      <!-- <p>The password input field {{inputpassword.inputPassword}}</p-->
