<!-- Main Container -->
<div class="container">

  <!-- First Page Form -->
  <form class="col-md-4" *ngIf="firstPage" #openPage="ngForm">
    <!-- Logo Section -->
    <div class="col-md-12">
      <!-- Preloading the image -->
      <link rel="preload" href="assets/img/tvb-logo.png" as="image">
      <!-- <img src="assets/img/TVB_Logo_1.PNG" class="center-image img-fluid" alt="TVB Logo"> -->
      <img src="assets/img/tvb-logo.png" class="center-image img-fluid" alt="TVB Logo">
    </div>
    <!-- Welcome Text -->
    <h2 class="center-text-new blue-text">Welcome to the RED SYSTEM</h2>
    <!-- Button Grid for Options -->
    <div class="button-grid-new">
      <!-- <button type="button" class="btn btn-primary light-blue-new hover-effect-new" onclick="window.location.href='https://eform.tvb.com.hk:8888/login';">TVB <br> Staff</button> -->
      <button *ngIf="redFormButton" type="button" class="btn btn-danger light-blue-new hover-effect-new" (click)="navigateToLogin()">RED <br> FORM</button>
      <button *ngIf="fourRunDownFormButton" type="button" class="btn btn-warning light-blue-new btn-disabled-grey" disabled>臨時/特約/輔警/小童<br>演員申請表</button>
      <button *ngIf="freelanceCompanyButton" type="button" class="btn btn-success green-new hover-effect-new" (click)="setPages()">Freelance <br> (Company)</button>
      <button *ngIf="freelancerButton" type="button" class="btn btn-success red-new btn-disabled-grey" disabled>Freelancer <br> (Individual) </button>
      <button *ngIf="tvbAaButton" type="button" class="btn btn-primary light-blue-new btn-disabled-grey" disabled>TVB <br> AA</button>
      <button *ngIf="tvbPaButton" type="button" class="btn btn-primary light-blue-new btn-disabled-grey" disabled>TVB <br> PA</button>
      <button *ngIf="othersButton" type="button" class="btn btn-info light-blue-new hover-effect-new" (click)="navigateToLogin()">Other <br> Options</button>
      <button *ngIf="tvbPaAaButton" type="button" class="btn btn-primary light-blue-new btn-disabled-grey" disabled>TVB <br> AA/PA</button>
      <!-- <button (click)="showDisclaimerAlert()">Show Disclaimer</button> -->
    </div>

  </form>

  <div class="unique-disclaimer">
    <div class="alert alert-success disclaimer-container" role="alert" *ngIf="disclaimer">
        <div class="logo-container">
            <!-- Preloading the image -->
            <link rel="preload" href="assets/img/tvb-logo.png" as="image">
            <img src="assets/img/tvb-logo.png" class="center-image img-fluid" alt="TVB Logo">
        </div>
        <div>
         
            <hr>
            <h4 class="alert-heading">DISCLAIMER</h4>
            <p class="mb-0 alert alert-success custom-alert-text">{{disclaimerText}}</p>
            <br>
              <div class="d-flex justify-content-end">
                  <button type="button" class="btn btn-secondary btn-sm me-2" (click)="onCancel()">Cancel</button>
                  <button type="button" class="btn btn-primary btn-sm" (click)="onAccept()">Accept</button>
              </div>
          </div>
    </div>
  </div>

    <!-- Second Page Form -->
    <form class="col-md-4" #basicForm="ngForm" *ngIf="secondPage">
      <!-- Logo -->
      <img src="assets/img/tvb-logo.png" alt="TVB Logo" class="center-image img-fluid">
      <!-- Mobile Number Input Section -->
      <div class="form-group">
        <label for="mobileNum" class="grep-color">Support HK Mobile only</label>

        <div class="input-group mb-3">
          <button class="btn btn-outline-info common-height" type="button" (click)=sliderUpdate() id="input1" [disabled]="!inputField || isButtonClicked">Submit</button>
          <input required type="text" class="form-control common-height mobile-border" id="inputField" [(ngModel)]="inputField" name="inputField" placeholder="Enter Mobile No">
        </div>

    </div>
    <!-- Slider Section -->
    <!-- <div class="form-group" *ngIf="sliderflag">
      <label for="slider">Please slide bar to full</label>
      <input type="range" class="form-range" id="slider" name="slider" min="0" max="5" step="0.1" [(ngModel)]="sliderValue" (ngModelChange)="onSliderChange($event)" #slider="ngModel">
    </div> -->


    <app-captcha *ngIf="sliderflag" (capRtnFunction)="update()"></app-captcha>

    <!-- Test Button Section -->
    <div *ngIf="testflag" class="form-group d-grid gap-2">
      <button class="btn btn-primary" type="button" (click)=redirect() id="button-addon1">Click to Test</button>
    </div>
    <!-- OTP Component Embedding -->
    <div *ngIf="visible">
      <app-otp [otpMobile]='inputMobile' (triggerDownCount)="downCount()" (otpRtnFunction1)="otpRtnFunction1($event)" (otpRtnFunction2)="otpRtnFunction2($event)"></app-otp>
    </div>
    <!-- Password Input Section -->
    <div *ngIf="inputPasswordField">
      <div class="input-group" style="align-items: center;">
        <input required type="password" minlength="4" maxlength="4" pattern="\d{4}" 
              class="form-control common-height input-password-border" 
              id="passwordPart1" 
              [(ngModel)]="inputPasswordPart1" 
              name="passwordFieldPart1" 
              placeholder="Pwd 1">

        <div class="input-group-append">
          <span class="input-group-text" style="font-size: 30px; color: black; border: none; background-color: white;">-</span>
        </div>
        <input required type="password" minlength="4" maxlength="4" pattern="\d{4}" 
              class="form-control common-height input-password-border" 
              id="passwordPart2" 
              [(ngModel)]="inputPasswordPart2" 
              name="passwordFieldPart2" 
              placeholder="Pwd 2">
        </div>
      <!-- Password Expiry Countdown -->
      <div>
        <p style="color: red; font-size: small;">The password will expire after {{countdown}} seconds</p>
      </div>
    </div>
    <!-- Login Button Section -->
    <div *ngIf="inputPasswordPart1.length === 4 && inputPasswordPart2.length === 4" class="form-group d-grid gap-2">
      <button class="btn btn-outline-danger common-height" type="submit" (click)="callUpdatePassword()">Login</button>
    </div>
    <!-- Router Outlet for Angular Routing -->
    <router-outlet></router-outlet>

    <div>
      <a [href]="homepageUrl" class="back-to-homepage">Back to Homepage</a>
    </div>

  </form>

  <br>
  <br>





</div>