
<div class="container">


  <form class="col-md-4" #openPage="ngForm" *ngIf="firstPage" >
    <div class="col-md-12">
        <img src="assets/img/TVB_Logo_1.PNG" class="center-image">
    </div>
    <!-- existing form controls... -->
    <div class="row">
        <div class="col-md-12">
            <H1 class="center-text">Wellcome to the RED SYSTEM</H1>
        </div>
    </div>
    <div class="row custom-class margin-top">
        <div class="col-12 col-sm-6">
            <button class="btn btn-primary btn-lg btn-block btn-xl fixed-size light-blue hover-effect"
                onclick="window.location.href='https://eform.tvb.com.hk:8888/login';">TVB Staff</button>
        </div>
        <div class="col-12 col-sm-6">
            <button class="btn btn-primary btn-lg btn-block btn-xl fixed-size light-blue" disabled>TVB PA/AA</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-6">
            <button class="btn btn-primary btn-lg btn-block btn-xl fixed-size green hover-effect"
                (click)="setPages()">Freelance Company</button>
        </div>
        <div class="col-12 col-sm-6">
            <button class="btn btn-primary btn-lg btn-block btn-xl fixed-size red" disabled>Freelancer</button>
        </div>
    </div>
</form>
    
  <form class="col-md-4" #basicForm="ngForm" *ngIf="secondPage">
  
          <img src="assets/img/tvb-logo.png">
            
                <div class="form-group">

                    <label for="mobileNum">Support HK Mobile only</label>
                    <div class="input-group mb-3" >

                        <button class="btn btn-danger" 
                            type="button" 
                            (click)=sliderUpdate()
                            id="input1" 
                            [disabled]="!inputField || isButtonClicked">Submit
                        </button>


                        <input 
                        required
                        type="text"
                        class="form-control"
                        id="inputField" 
                        [(ngModel)]="inputField"
                        name="inputField" 
                        placeholder="Enter Mobile No">
                                
                    </div>

                </div>



                <div class="form-group" *ngIf="sliderflag">
                    <label for="slider">Pleas slide bar to full</label>
                    <input 
                      type="range" 
                      class="form-range" 
                      id="slider"
                      name="slider"
                      min="0" max="5" 
                      step="0.1" 
                      [(ngModel)]="sliderValue"
                      (ngModelChange)="onSliderChange($event)"
                      #slider="ngModel">
                    <!-- <p>Current value: {{ sliderValue }}</p> -->
                  </div>

                  <div *ngIf="testflag" class="form-group d-grid gap-2">
                      <button class="btn btn-primary" 
                              type="button" 
                              (click)=redirect()
                              id="button-addon1" >Click to Test
                      </button>

                      <P></P>
                  </div>



                <div *ngIf="visible">
                    <app-otp 
                    [otpMobile]='inputMobile'
                    (triggerDownCount)="downCount()"
                    (otpRtnFunction1)="otpRtnFunction1($event)"
                    (otpRtnFunction2)="otpRtnFunction2($event)" ></app-otp>
                </div> 
              
                <div *ngIf="inputPasswordField">
                <!-- <div *ngIf="true"> -->
                    <p></p>
                <!-- <div *ngIf="true"> -->
                    <div class="input-group" style="align-items: center;">
                        <label for="passwordPart1"></label>
                        <input 
                            required
                            type="password"
                            minlength="4" 
                            maxlength="4"
                            pattern="\d{4}"
                            class="form-control"
                            id="passwordPart1" 
                            [(ngModel)]="inputPasswordPart1"
                            name="passwordFieldPart1" 
                            placeholder="Password XXXX">
                      
                            <div class="input-group-append">
                                <span 
                                    class="input-group-text" 
                                    style="font-size: 30px; color: black; border: none; background-color: white;">-</span>
                              </div>
                      
                        <label for="passwordPart2"></label>
                        <input 
                            required
                            type="password"
                            minlength="4" 
                            maxlength="4"
                            pattern="\d{4}"
                            class="form-control"
                            id="passwordPart2" 
                            [(ngModel)]="inputPasswordPart2"
                            name="passwordFieldPart2" 
                            placeholder="Password YYYY">                     
                        
                    </div>

                    <div>
                        <p style="color: red; font-size: small;">
                            The password will expire on after {{countdown}} seconds</p>
                    </div>
                    
                    
                </div>

                <div *ngIf="inputPasswordPart1.length === 4 && inputPasswordPart2.length === 4" class="form-group d-grid gap-2">
                    <button 
                    class="btn btn-success" 
                    type="submit" 
                    (click)="auth()">Login</button> 
                </div>


                <router-outlet></router-outlet>
    </form>  

    

</div>


   

 
  
  
  